n8n/workflows/jarvis-health-monitor.json
{
  "name": "JARVIS - Health Monitor",
  "nodes": [
    { "parameters": { "rule": { "interval": [{ "field": "minutes", "minutesInterval": 5 }] } }, "id": "schedule-health", "name": "A cada 5 minutos", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [0, 0] },
    { "parameters": { "url": "https://apijarvis.juninnzxtec.com.br/api/health/full", "options": { "timeout": 15000 } }, "id": "http-health", "name": "Consultar health", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [240, 0] },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "id": "db-ok", "leftValue": "={{ $json.database?.status || $json.database }}", "rightValue": "ok", "operator": { "type": "string", "operation": "notEquals" } }], "combinator": "or" } }, "id": "if-health-failed", "name": "Falhou?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [480, 0] }
  ],
  "connections": { "A cada 5 minutos": { "main": [[{ "node": "Consultar health", "type": "main", "index": 0 }]] }, "Consultar health": { "main": [[{ "node": "Falhou?", "type": "main", "index": 0 }]] } },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
